
.channel {
    border: 5px solid black;
    border-radius: 0 10px 10px 0;

    background-color: lightgray;
    cursor: pointer;
    
    position: relative;
}

.penIcon {
    position: absolute;
    top: 1em;
    right: 1em;
    color: blue;
}

.trashIcon {
    position: absolute;
    right: 1em;
    color: red;
}

.YT {
    background-color:tomato;
}

.TW {
    background-color: lightblue;
}